.nav-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.nav-links li {
  text-transform: uppercase;
  background-color: #E4F8B3;
  color: black;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  border-bottom: 3px solid #90BB4E;
  transition: 0.3s;
}

.nav-links li:active {
  background-color: #90BB4E;
  color: darkgrey;
}

.nav-links li:not(:last-child) {
  margin-right: 5px;
}