.car {
  margin-bottom: 20px;
}

.carHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.carName {
  color: #E3CF4B;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.carMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px dashed white;
}

.ctrlBtn {
  font-size: 16px;
  color: #E4F8B3;
  background-color: inherit;
  border: 1px solid #E4F8B3;
  border-radius: 4px;
  padding: 2px 4px;
  transition: 0.3s;
}

.ctrlBtn:not(:last-child) {
  margin-right: 7px;
}

.ctrlBtn:disabled {
  color: #676869;
  border-color: #676869;
}

.carTrack {
  position: relative;
  flex: 1;
}

.trackFinish img {
  width: 40px;
}

.trackFinish {
  position: absolute;
  right: 70px;
  top: 0;
}